#-----------------------------
# Libraries
#-----------------------------

[submodule "parallelio"]
path = libraries/parallelio
url = https://github.com/NCAR/ParallelIO

[submodule "mct"]
path = libraries/mct
url = https://github.com/MCSclimate/MCT

#-----------------------------
# Configuration/CCS
#-----------------------------

[submodule "ccs_config"]
path = ccs_config
url = https://github.com/NorESMhub/ccs_config_noresm.git

[submodule "cime"]
path = cime
url = https://github.com/NorESMhub/cime.git

#-----------------------------
# Share
#-----------------------------

[submodule "share"]
path = share
url = https://github.com/NorESMHub/NorESM_share

#-----------------------------
# Components
#-----------------------------

[submodule "blom"]
path = components/blom
url = https://github.com/NorESMhub/BLOM.git

[submodule "cam"]
path = components/cam
url = https://github.com/NorESMhub/CAM.git

[submodule "cdeps"]
path = components/cdeps
url = https://github.com/ESCOMP/CDEPS.git

[submodule "cice6"]
path = components/cice
url = https://github.com/NorESMhub/NorESM_CICE

[submodule "cism"]
path = components/cism
url = https://github.com/NorESMhub/CISM-wrapper

[submodule "clm"]
path = components/clm
url = https://github.com/NorESMhub/CTSM

[submodule "cmeps"]
path = components/cmeps
url = https://github.com/NorESMhub/CMEPS.git

[submodule "mosart"]
path = components/mosart
url = https://github.com/ESCOMP/MOSART

[submodule "ww3"]
path = components/ww3
url = https://github.com/NorESMhub/WW3_interface.git

#-----------------------------
# Tools
#-----------------------------

[submodule "pycect"]
path = tools/statistical_ensemble_test/pyCECT
url = https://github.com/NCAR/PyCECT.git
